* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header {
  background-color: #343A42;
  width: 100%;
  height: 70px;
}

.header a {
  text-decoration: none !important;
  color: white !important;
  background-color: #343A42 !important;
}

.header__nav {
  height: 100%;
}

.header__nav-menu {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
}

.header__nav-menu li {
  cursor: pointer;
  text-decoration: none;
  list-style: none;
  padding: 10px;
}

#content-wrapper {
  height: 100vh;
}

.sidebar {
  width: 20%;
  border: 1px solid red;
  height: 100vh;
  margin: 5px;
}

.content-main {
  width: 80%;
  height: 100vh;
  margin: 5px;
}

.sidebar li {
  list-style: none;
  text-decoration: none;
}

.active {
  background-color: #4dc0b5;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.invalid-feedback {
  display: inline-block !important;
}

.table {
  font-weight: normal;
}

.table th,
.table td {
  vertical-align: middle !important;
  font-weight: normal;
}

button {
  cursor: pointer;
}

.table th,
.table td {
  border: none !important;
}

.welcome__container {
  height: 100vh;
  display: flex;
}

.welcome__container a {
  text-decoration: none !important;
  color: black !important;
  background-color: white;
}

.welcome__container .card {
  margin: 10px;
  cursor: pointer;
  margin-left: 2.3%;
  text-align: center;
  align-items: center;
}

.welcome__container .card:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-out;
}

.welcome__sidebar {
  padding: 5px;
  width: 20%;
}

.welcome__main {
  padding: 5px;
  width: 80%;
}

.card {
  padding: 10px;
}

#Basket .modal-dialog {
  max-width: 80% !important;
}

.viewed-products {
  height: 300px;
  width: 94%;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
}

